backend/env
backend/venv
backend/.env*
backend/!.env.example
.env
backend/porygon-video-generation-77fa8b367ac4.json
backend/key.json
backend/.env.local
backend/.env.production

node_modules
.vscode/
__pycache__
frontend/.firebaserc/
frontend/.firebase/hosting.YnVpbGQ.cache
frontend/.env.staging
frontend/.env.development
backend/instagram_token.txt
backend/automated-marketing-442414-a14d5676b6c7.json
